* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 1920px;
  margin: 0px auto;
}
.header {
  margin: 20px 200px 0px 200px;
  background-color: #171717;
}

.header-div {
  display: grid;
  grid-template-columns: 156px 165px 1fr;
  margin: 0px 200px 0px 200px;

  background: #171717;
  grid-template-areas:
    "item1 item2 item4"
    "item1 item3 item4";
  color: white;
}

.item1 {
  grid-area: item1;
  font-size: 92px;
}

.item2 {
  grid-area: item2;
  font-size: 35px;
  padding-top: 17px;
}

.item3 {
  grid-area: item3;
  font-size: 28px;
  padding-bottom: 15px;
}

.item4 {
  grid-area: item4;
  justify-self: right;
  align-self: center;
  color: #e4b564;
  font-family: Ballet;
  font-size: 23px;
  line-height: 45px;
  text-decoration-line: none;
  border: 1px solid #e4b564;
}
.item4-img {
  width: 16px;
  height: 16px;
}

.main {
  color: white;
  margin: 0px 200px 0px 200px;

  background-color: #171717;
}
.main-wraper {
  margin: 0px 200px 20px 200px;
}

.main-wraper-text {
  color: #fff;
  font-family: Gilam;
  font-size: 50px;
  line-height: 28px;
  padding-top: 40px;
}

.main-wraper-text2 {
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  line-height: 28px;
  padding: 42px 0px 42px 0px;
}

.wraper-items {
  display: grid;
  justify-content: center;

  gap: 10px;
  margin: 10px 200px;
  grid-template-columns: repeat(6, 180px);
  grid-template-areas:
    "item11 item12 item13"
    "item14 item15 .";
}
.wrapitem {
  color: #fff;
  list-style-type: none;
  text-align: center;
  padding-top: 150px;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  height: 180px;
}

.item11 {
  grid-area: item11;
  background: #634f2c;
  grid-area: 1/1/2/3;
}

.item12 {
  grid-area: item12;
  background: #b4a385;
  grid-area: 1/3/2/5;
}

.item13 {
  grid-area: item13;
  grid-area: 1/5/2/7;
  background: #e4b564;
}

.item14 {
  grid-area: item14;
  background: #635a4a;
  grid-area: 2/1/3/4;
}

.item15 {
  grid-area: item15;
  background: #b08c4d;
  grid-area: 2/4/3/7;
}
.main2-wraper {
  margin: 70px 200px 40px 200px;
}

.main2-wraper-text2 {
  color: #fff;
  font-family: Gilam;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.main2-wraper-items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-rows: 135px 30px 11px 69px 70px 125px 10px;
  margin: 10px 200px 0px 193px;
  gap: 15px;
}

.wrap {
  padding: 50px;
}
.item21 {
  background: #0e0e0e;
  grid-area: 1/1/4/1;
}
.item21-text,
.item22-text {
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item22-text2,
.item22-text2 {
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item22 {
  background: #242424;
  grid-area: 1/2/5/2;
}

.item23 {
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #1f1f1f;
  grid-area: 1/3/2/3;
}

.item24 {
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #1f1f1f;
  grid-area: 4/1/8/1;
}

.item25 {
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #e4b564;
  grid-area: 5/2/7/2;
}

.item26 {
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #0e0e0e;
  grid-area: 2/3/6/3;
}

.item27 {
  color: #fff;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #0a0909;
  grid-area: 6/3/8/3;
}

.footer {
  margin: 0px 200px 0px 200px;

  background-color: #171717;
}
.footer-wraper {
  padding: 60px 200px 0px 200px;
  display: flex;
  justify-content: space-between;
}
.footer-wraper-text {
  color: #fff;
  font-family: Gilam;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 56% */
  display: inline;
}
.footer-a {
  border: 1px solid #e4b564;
  width: 100px;
  text-decoration: none;
  text-align: center;
  color: #E4B564;
font-family: Ballet;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.wraper3-items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 291px);
  margin: 27px 200px 95px 193px;
  gap: 10px;
}
.wrap3 {
  text-align: center;
}

.item31 {
  background: #634f2c;
  padding-top: 120px;
}
.item32 {
  background: rgba(232, 210, 171, 0.76);
  padding-top: 20px;
}
.item32 > img {
  display: block;
  margin: 10px auto;
}
.item32 > p {
  color: #fff;
  text-align: center;
  font-family: Gilam;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 5px 20px 10px 20px;
}
.item33 {
  background: #e4b564;
  padding-top: 120px;
}
.item34 {
  background: #635a4a;
  padding-top: 63px;
}
.item34 > img {
  display: block;
  margin: 0 auto;
}
.item35 {
  background: #b08c4d;
  padding-top: 120px;
}
.item36 {
  background: #634f2c;
  padding-top: 120px;
}
